@model TESTEs2it.Models.jogos

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>jogos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Jogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Jogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NM_Amigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NM_Amigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.JogoID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
